<h1>New Profile</h1>

 <div class="signup_form1">

<%= render 'form', profile: @profile %>

</div>



<%= link_to 'Back', profiles_path %>

<% if user_signed_in? %> 
  <%= link_to "logout", destroy_user_session_path, method: :delete %>
  <% else %>
  <%= link_to "Login", new_user_session_path %>
  <% end %>
