<main id="home">
<div class="logo">
<h1>PropSwap shop</h1>
</div>
    <ul class="navbar">
    <li><a href="../plants"> Buy</a></li>
    <li><a href="../profiles">My Account</a></li>
    
  
    
    <li><a href="../plants/new">Sell</a></li>
    </ul>
<hr>
   

    <h1>
       Featured
    </h1>

    <p>
        
    <p>
</main>