/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

body,
html {
  margin: 0;
  width: 100vw;
  height: 100vh;
  text-align: center;
  align-content: center;
  justify-content: center;
  font-size: 1em;
  padding: 0;
  margin: 0;
  overflow-x: hidden;
}

a {
  text-decoration: none;
}
a:hover {
  background: transparent;
  color: #000;
}

table {
  margin: auto;
}
.sign_out {
  justify-self: center;
  align-self: center;
  text-align: center;
  margin-top: 5rem;
}

#home {
  text-align: center;
  display: flex;
  flex-direction: column;
}

#featured {
  margin: 20px 0 0 0;
}

.nav {
  align-self: baseline;
  width: 100%;
  justify-content: space-around;
  margin-left: 20%;
  text-shadow: 1px 1px #000;
}

.nav li a {
  color: #fff;
  margin: 0 50%;
}

.nav li:first-of-type {
  padding-left: 25%;
}

.logo {
  background-image: url(propswap_logo_temp.jpg);
  background-size: cover;
  background-repeat: none;
  height: 23%;
  width: 100vw;
  margin: 0 auto;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: center;
}

.logo-words {
  margin-top: 70px;
}

.logo-words a {
  color: #fff;
  text-shadow: 2px 2px #000;
  font-size: 3em;
  padding: 0;
  margin-left: -250%;
}

.sign-up-main {
  background-image: url(sign-up.jpg);
  background-size: cover;
  border-radius: 20px;
  height: 250px;
  width: 70%;
  margin: 0 auto;
  display: flex;
  align-items: top;
  justify-content: center;
  font-size: 2em;
  text-shadow: 2px 2px #fff;
}

.navbar {
  list-style: none;
  flex-direction: row;
  display: flex;
  justify-content: space-around;
  font-size: 1.25em;
  margin-bottom: 20px;
  margin-top: 5px;
  z-index: 4;
  width: 100vw;
}

/* 
.signup_form1 .field {
  width: 70%;
} */

/* PLANT SECTION */

.showing-all-plants {
  width: 80vw;
  display: flex;
  margin: 0 auto;
  flex-wrap: wrap;
  justify-content: center;
}
.individual-plant-show-all {
  padding: 20px;
  width: 200px;
}

.plant-show {
  width: 80%;
  padding: 10px 10px 40px;
  border: 1px solid black;
  border-radius: 10px;
  margin: 0 auto;
  background: #c2c4c0;
}

.plant-form {
  margin-top: 3rem;
}

.plant-show-pic img {
  height: 22%;
  width: 30%;
}

.plant-form .field input {
  width: 20rem;
  height: 25px;
  border-radius: 5px;
}

#plant_submit_button {
  width: 10rem;
  height: 25px;
  border-radius: 5px;
}

#plant_description {
  width: 20rem;
  height: 25px;
  border-radius: 5px;
}

#plant_plant_type {
  width: 9rem;
  height: 25px;
  border-radius: 5px;
  margin-right: 1rem;
}
#plant_price {
  width: 10rem;
}

/* PROFILE SECTION */

.profile-container {
  border: 1px solid #c2c4c0;
  border-radius: 15px;
  width: 30%;
  margin: 0 auto;
  margin-top: 5%;
  padding: 2rem 2rem 1rem 2rem;
}

.profile {
  display: flex;
}

.profile-left img {
  height: 125px;
  width: 125px;
  border-radius: 10px;
  margin-right: 10px;
}

.profile-right {
  display: flex;
  /* align-items: flex-start; */
  justify-content: baseline;
  align-items: baseline;
  flex-direction: column;
}

.profile-right p {
  margin: 4px;
}

.login-logout {
  position: fixed;
  bottom: 25px;
  left: 47%;
}

.update-profile-button {
  border: 1px solid black;
  border-radius: 7px;
  width: 100px;
  margin: 15px auto;
  height: 1.5rem;
}

.signup_form1 {
  text-align: center;
  width: 55%;
  margin: 0 auto;
  padding: 20px 0;
  border-radius: 10px;
}

.signup_form1 .field input {
  width: 20rem;
  height: 25px;
  border-radius: 5px;
}

#profile_post_code {
  width: 9rem;
}

#profile_state {
  width: 9rem;
  margin-right: 1rem;
}

/* STYLING FOR DEVISE */

#user_email {
  width: 20rem;
  height: 25px;
  border-radius: 5px;
}

#user_password {
  width: 20rem;
  height: 25px;
  border-radius: 5px;
}
#user_remember_me {
  margin-right: 10px;
}
