/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import url("https://fonts.googleapis.com/css?family=Oxygen&display=swap");
@import url("https://fonts.googleapis.com/css?family=Lato&display=swap");
body,
html {
  margin: 0;
  width: 100vw;
  height: 100vh;
  text-align: center;
  align-content: center;
  justify-content: center;
  font-size: 1em;
  padding: 0;
  margin: 0;
  overflow-x: hidden;
  background: url(propswap_logo_temp.jpg);
  background-size: unset;
  background-position: top left;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position-y: 5%;
  background-position-x: 24%;
  font-family: "Lato", sans-serif;
}
.turnDeviceNotification {
  z-index: -20;
  display: none;
}
.page-top {
  position: sticky;
  top: 0;
}

a {
  text-decoration: none;
}
a:hover {
  background: transparent;
  color: #000;
}

h1 {
  color: #fff;
  text-shadow: 2px 2px #000;
}

h3 {
  color: #fff;
  text-shadow: 2px 2px #000;
}

.coming-soon {
  margin-top: 200px;
}

.white-text a {
  color: #fff;
  text-shadow: 1px 1px #000;
}
.white-text p {
  color: #fff;
  text-shadow: 1px 1px #000;
}

.success {
  color: #fff;
  text-shadow: 1px 1px #000;
  margin: 60px auto 100px auto;

  line-height: 130%;
}

.success-back a {
  color: #fff;
  text-shadow: 2px 2px #000;
  font-size: 3rem;
}

.sign_out {
  justify-self: center;
  align-self: center;
  text-align: center;
  margin-top: 5rem;
}

#home {
  text-align: center;
  display: flex;
  flex-direction: column;
}

#featured {
  margin: 20px 0 0 0;
}

footer {
  position: fixed;
  bottom: 0px;
  left: 0;
  width: 100vw;
  text-align: center;
  color: #fff;
  text-shadow: 1px 1px #000;
}

footer a {
  color: #fff;
}

footer a:visited {
  color: #fff;
}

.navbar {
  list-style: none;
  flex-direction: row;
  display: flex;
  justify-content: space-around;
  font-size: 1.25em;
  margin-bottom: 20px;
  margin-top: -10px;
  z-index: 4;
  width: 100vw;
  padding: 0;
}

.nav {
  /* position: fixed;
  top: 0; */
  align-self: baseline;
  width: 100%;
  justify-content: space-around;
  /* margin-left: 20%; */
  text-shadow: 1px 1px #000;
  /* margin-top: 10px; */
}

.nav li a {
  color: #fff;
  font-size: 1.75rem;
}

.logo {
  background: transparent;
  background-size: cover;
  background-repeat: none;
  /* height: 23%; */
  width: 100vw;
  margin: 0 auto;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: center;
  flex-direction: column;
}

.logo-words {
  /* margin-top: 20px;
  position: fixed; */
  z-index: 1;
}
.logo-words img {
  height: 120px;
  width: 650px;
}

.login-page {
  color: #fff;
  text-shadow: 2px 2px #000;
  /* background: rgba(255, 255, 255, 0.5); */
}

.login-page a {
  color: #fff;
  text-shadow: 2px 2px #000;
}

.sign-up-main {
  background-image: url(signup3.jpg);
  background-size: cover;
  border-radius: 20px;
  height: 250px;
  width: 70%;
  margin: 20px auto 0 auto;
  display: flex;
  align-items: top;
  justify-content: center;
  font-size: 2em;
  text-shadow: 2px 2px #fff;
  display: flex;
  flex-direction: column;
}

.sign-up-main li {
  list-style: none;
  margin-left: 50%;
  color: #fff;
  text-shadow: 2px 2px #000;
  font-size: 1.5rem;
  margin-bottom: 25px;
}

.sign-up-main li:first-of-type {
  margin-top: -15px;
}

.sign-up-main li:last-of-type {
  margin-bottom: 30px;
}

/* .signup_form1 .field {
  width: 70%;
} */

/* PLANT SECTION */

.showing-all-plants-home {
  width: 80vw;
  display: flex;
  margin: 30px auto;
  flex-wrap: nowrap;
  justify-content: center;
}
.showing-all-plants {
  width: 80vw;
  display: flex;
  margin: 8px auto;
  flex-wrap: wrap;
  justify-content: center;
  z-index: 10;
}

.showing-all-plants-mobile {
  display: none;
}

.individual-plant-show-all {
  padding: 20px;
  width: 150px;
  margin: 10px 10px;
  border-radius: 20px;
  background: rgba(255, 255, 255, 0.95);
  z-index: 99;
}

.plant-show {
  width: 40%;
  padding: 10px 10px 20px;
  border: 1px solid black;
  border-radius: 5%;
  margin: 0 auto;
  background: rgba(255, 255, 255, 0.95);
}

.plant-show-pic img {
  height: 130px;
  width: 100%;
  border-radius: 10px;
}

.plant-show-pic-ind img {
  height: 32vh;
  border-radius: 10px;
}
.payment-button button {
  border: 1px solid black;
  border-radius: 5px;
  padding: 5px;
  width: 20%;
  background: transparent;
  margin-bottom: 18px;
}

.plant-info button {
  margin-bottom: 10px;
  border-radius: 5px;
  background: rgba(255, 255, 255, 0.5);
}

.plant-form {
  /* background: rgba(255, 255, 255, 0.08); */
  width: 40%;
  padding: 10px;
  margin: 0 auto;
  margin-top: 3rem;
  border-radius: 10px;
}

.plant-form h1 {
  margin-bottom: 3rem;
  color: black;
  text-shadow: none;
}

.plant-form select {
  background: #fff;
}

.plant-info {
  background: rgba(255, 255, 255, 0.7);
  border-radius: 8px;
  width: 85%;
  margin: 0 auto;
  padding: 1x 0 1px 0;
  text-shadow: 1px 1px #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.plant-form .field input {
  width: 20rem;
  height: 25px;
  border-radius: 5px;
  font-size: 0.9rem;
  padding-left: 5px;
}

#plant_submit_button {
  width: 20rem;
  height: 25px;
  border-radius: 5px;
  margin-top: 10px;
}

#plant_description {
  width: 20rem;
  height: 25px;
  border-radius: 5px;
  font-size: 1.1rem;
}

#plant_plant_type {
  width: 8.5rem;
  height: 25px;
  border-radius: 5px;
  margin-right: 1rem;
}
#plant_price {
  width: 10rem;
}

/* PROFILE SECTION */

.profile-container {
  /* border: 1px solid #c2c4c0; */
  border-radius: 15px;
  width: 60%;
  margin: 0 auto;
  margin-top: 5%;
  padding: 2rem 2rem 1rem 2rem;
  /* background: rgba(255, 255, 255, 0.9); */
}

.show-profile-link,
.show-profile-link a {
  color: #fff;
  text-shadow: 1px 1px #000;
}

.update-profile-button {
  margin-top: 30px;
}

.update-profile-button a {
  color: #fff;
  text-shadow: 1px 1px #000;
  width: 60%;
  height: 1.5rem;
}

.profile {
  display: flex;
  justify-content: space-around;
}

.profile-left img {
  height: 200px;
  width: 200px;
  border-radius: 10px;
  margin-right: 10px;
}

.profile-right {
  display: flex;
  justify-content: baseline;
  align-items: baseline;
  flex-direction: column;
}
.profile-right h1 {
  line-height: 100%;
}

.profile-right h3 {
  margin: 10px auto;
}

.profile-right p {
  margin: 4px;
}

.login-logout {
  position: relative;
  top: 35px;
  text-align: center;
  border-radius: 10px;
  font-size: 1.15rem;
  padding: 5px;
  width: 7rem;
}
.profile-choose-photo {
  display: flex;
  background: #fff;
  margin: 0 auto;
  width: 20rem;
  border-radius: 5%;
  border: 1px solid #d1cfc3;
  margin-bottom: 10px;
  align-items: center;
}

.edit-profile-pic img {
  height: 50px;
  width: 50px;
  margin: 0 15px;
}

.signup_form1 {
  text-align: center;
  width: 75%;
  margin: 0 auto;
  padding: 20px 0;
  border-radius: 10px;
}

.signup_form1 .field input {
  width: 20rem;
  height: 25px;
  border-radius: 5px;
}

#profile_post_code {
  width: 9rem;
}

#profile_state {
  width: 9rem;
  margin-right: 1rem;
}

/* STYLING FOR DEVISE */

#user_email {
  width: 20rem;
  height: 25px;
  border-radius: 5px;
}

#user_password {
  width: 20rem;
  height: 25px;
  border-radius: 5px;
}
#user_remember_me {
  margin-right: 10px;
}

/* ------------------RESPONSIVE STYLING */

@media (max-width: 600px) {
  body {
    background-position: center top;
  }
  .turnDeviceNotification {
    z-index: -20;
    display: none;
  }

  .logo-words img {
    width: 95%;
  }

  .nav {
    margin-top: 10px;
  }
  .nav li a {
    font-size: 1.75rem;
  }

  .profile-container {
    width: 75vw;
  }

  .profile-left img {
    height: 185px;
    width: 185px;
  }

  .plant-form {
    width: 90vw;
    background: transparent;
  }

  .individual-plant-show-all {
    width: 100px;
    height: 100px;
    margin-left: 7px;
    margin-right: 7px;
  }

  .plant-show {
    width: 90vw;
  }

  .login-logout {
    /*  */
    padding: 5px;
    width: 7rem;
  }
  .showing-all-plants-home {
    display: none;
    visibility: hidden;
  }

  .showing-all-plants-mobile {
    width: 100vw;
    display: flex;
    margin: 30px auto;
    flex-wrap: wrap;
    justify-content: center;
  }
  .showing-all-plants {
    width: 100vw;
  }
}

@media (max-width: 800px) {
  .individual-plant-show-all {
    width: 150px;
    height: 130px;
    margin-left: 7px;
    margin-right: 7px;
  }
  .sign-up-main {
    width: 100vw;
  }
}

/* ---------------------------------------------LOCK IN PORTRAIT FOR SMART PHONE */
/* 

*/
@media screen and (max-height: 600px) and (orientation: landscape) {
  .turnDeviceNotification {
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 100;
    width: 100%;
    height: 100%;
  }
}
